<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Preguntas</title>
    <link type="text/css" href="src/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="src/css/estilos.css" rel="stylesheet">
</head>

<body>
<header class="col col-lg-12 page-header">header</header>
    <div class="col col-lg-5 conta" id="areaFormulario">
        <h1>Preguntas</h1>

        <div class="col-lg-12 ">
            <form role="form" id="frmCrearPregunta" >
                <h3 class="control-label">Crear Pregunta</h3>

                <div class="form-group">
                    <label for= "txtPregunta" class="control-label">Pregunta</label>
                    <textarea id="txtPregunta" type="text" maxlength="200" required placeholder="Escribe tu pregunta aquí" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="cmbCategorias" class="control-label">Tipo de Trabajo</label>
                    <select id="cmbCategorias" class="form-control" >
                        <option class="text-info">saludo1</option>
                        <option>saludo2</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Crear Pregunta" id="btnCrear" class="btn btn-success" name="btnCrear">

                </div>



            </form>

        </div>
    </div>
    <div class="col col-lg-7 conta" id="areaGrilla">
        <div class="col col-lg-12" id="contGrilla">
            <div class="col col-lg-12">
                <table class="col-lg-12">
                    <title>hola</title>
                    <thead class="col-lg-12">
                    <tr class="col-lg-12">
                        <th >Nro</th>
                        <th >Pregunta</th>
                        <th >Tipo de Trabajo</th>
                        <th >Fecha Creacion</th>
                        <th >Fecha Respuesta</th>
                        <th >Estado</th>
                        <th >Creador</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="" name="">hola1</td>

                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
<footer class="col col-lg-12 page-header "> Elaborado por Gildardo Aguirre </footer>


</body>
</html>